extends layout

block content
  h1= title
  
  ul
    each discipline in discipline_list
      li 
        a(href=discipline.url) #{discipline.naam} 
       
    else
      li Er zijn geen disciplines.