extends layout

block content
      h1= title
      p Welkom op deze site, een platform voor de klassementen van alle sportfeesten van het voorbije seizoen
        img(src="/images/foto2.jpg" alt="startfoto" title="startfoto")