doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet',href="https://fonts.googleapis.com/css?family=Black+Han+Sans")
    link(rel='stylesheet',href="https://fonts.googleapis.com/css?family=Ubuntu")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='icon', href='/images/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-2')
          block sidebar
            ul(class='sidebar-nav')
              li
                  a(href='/menu')
                    img.logo(src="/images/Logo.png" alt="logo" title="Logo KLJ") 
              li 
                hr
              li
                a.link(href='/menu/locaties') Alle locaties
              li 
                a.link(href='/menu/disciplines') Alle disciplines
              li 
                a.link(href='/menu/sportfeesten') Alle sportfeesten
              li 
                a.link(href='/menu/deelnames' id=deelnamelink) Alle deelnames
              li
                hr
              div(id='adminDiv' hidden)
                  li
                    form(action="/user/logout")
                         button.btn.btn-primary.style(type='submit' title="Log out") Log out
                    br
                  li
                   a.link(href='/menu/locatie/create') Locatie toevoegen
                  li 
                   a.link(href='/menu/discipline/create') Discipline toevoegen
                  li 
                   a.link(href='/menu/sportfeest/create') Sportfeest toevoegen
                  li 
                   a.link(href='/menu/wedstrijd/create') Wedstrijd toevoegen
                  li 
                   a.link(href='/menu/speler/create') Speler toevoegen
                  li 
                   a.link(href='/menu/deelname/create') Deelname toevoegen
                  li 
                   hr

              div(id='loginDiv')
                  li
                    form(action="/user/login")
                         button.btn.btn-primary.style(type='submit' title="Log in") Log in
                  li
                    hr
                
        div(class='col-sm-10')
          block content
script(src="/javascripts/getgebruikerinformatie.js")