extends layout

block content
  
  h1 #{title}
  br
  form(role='form', method="POST", style='max-width: 300px;')
    div.form-group
        label(for='sportfeest') Gebruikersnaam:
        input.form-control(type='text', name="username", placeholder='Vul hier je gebruikersnaam in').form-group
        label(for='sportfeest') Wachtwoord:
        input.form-control(type='password', name="password", placeholder='Vul hier je wachtwoord in')

    button.btn.btn-primary.style(type='submit' id='inloggenbutton' title="Inloggen") Inloggen

  if errors 
    ul
      for error in errors
        li!= error.msg 

