extends layout

block content
  h1= provincienaam
   p Hier vindt u een overzicht terug van alle deelnemende gemeentes van deze provicie.
  
  ul
    each locatie in locatie_list
      li 
        a(href=locatie.url) #{locatie.naam} 

    else
      li Er zijn geen locaties.