extends layout

block content
  h1 #{wedstrijd.discipline.naam}
  p #{wedstrijd.sportfeest.locatie.naam} #{wedstrijd.sportfeest.datum_geformatteerd}
  
    p Wil je deze wedstrijd echt verwijderen? Alle deelnames voor deze wedstrijd worden ook verwijderd.
    
    form(method='POST' action='')
        div.form-group
        input#wedstrijdid.form-control(type='hidden',name='wedstrijdid', required='true', value=wedstrijd._id )

        button.btn.btn-primary(type='submit') Verwijder