/*ALGEMEEN GELDIG*/
h1 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 55px;
}

h4, h5 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}
p {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.wrapper {
    text-align: center;
    display: flex;
    align-items: stretch;
}

.btn {
    width: 150px;
    background-color: #E42630;
    border: 0px;
    margin: auto;
    display: block;
}

    .btn:hover {
        background-image: none;
        background-color: #b51212;
    }

    .btn:active {
        background-image: none !important;
        background-color: #E42630 !important;
    }




.menu {
    background-color: white;
}

    .menu:hover {
        background-color: white;
    }

    .menu:active {
        background-color: #E42630 !important;
    }


.verberg {
    display: none;
}

.link {
    color: green;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}

a:hover {
    color: #094d09
}

li a.link:hover {
    background-color: #094d09;
    color: white;
}

#map {
    height: 45%;
    width: 45%;
}
.locatie {
    width:50%;
    height:auto;
    float: right;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 200px;
}

.resize {
    width: 70%;
    height: auto;
}

#myTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

    #myTable td, #myTable th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #myTable tr:hover {
        background-color: #ddd;
    }

    #myTable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #E42630;
        color: white;
    }

#myInput {
    background-image: url('/images/zoek_icoon.ico');
    background-repeat: no-repeat;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

.logo {
    width: 120px;
    height: auto;
    margin: auto;
}

.nohover:hover {
    border: 0px !important;
    background-color: white !important;
}
body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
    display: block;
}
 
    
    .sidebar a {
        display: block;
        color: black;
        padding: 8px;
        text-decoration: none;
        text-align: center;
    }

        .sidebar a:hover:not(.active) {
            background-color: #094d09;
            color: white
        }

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}


.sidebtn {
    display: none;
}

.form {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}
.form-group {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
}
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        display: block
    }

        .sidebar a {
            float: left;
        }

    div.content {
        margin-left: 0;
    }

    .sidebar a {
        text-align: center;
        float: none;
    }


    .sidebtn {
        width: auto;
        display: inline;
    }


}

