body {
    background-image: "foto1.jpg";
}
h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 55px;
}
p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}
.link {
    color: green;
    font-family: 'Ubuntu', sans-serif;
    font-size:15px;
}
a:hover {
    color: #094d09
}
li a.link:hover {
    background-color: #094d09;
    color: white;
}
li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}
.resize {
    width: 100px;
    height: auto;
}
myTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#myTable td, #myTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#myTable tr:hover {
    background-color: #ddd;
}

#myTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #E42630;
    color: white;
}
.logo {
    width: 120px;
    height: auto;
}
.resize {
    height: 350px;
    width: auto;
}
.style {
    width: 150px;
    background-color: #E42630;
    border: 0px;
}
.btn:hover {
    background-image: none;
    background-color: #b51212;
}
#myInput {
    background-image: url('/images/zoek_icoon.ico');
    background-repeat: no-repeat;
    width: 500px;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
.verberg{
    display:none;
}

.wrapper {
    display: flex;
    align-items: stretch;
}
#sidebar {
    min-width: 250px;
}

    #sidebar.active {
        margin-left: -250px;
    }

.content {
    padding: 0;
    right: 0;
}
}