.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
body {
    background-image: "foto1.jpg";
}
h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 55px;
}
p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}
a {
    color: green;
    font-family: 'Ubuntu', sans-serif;
    font-size:15px;
}
a:hover{
    color:#094d09;
}
.resize {
    width: 100px;
    height: auto;
}
myTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#myTable td, #myTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#myTable tr:hover {
    background-color: #ddd;
}

#myTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #E42630;
    color: white;
}
.logo:hover {
    width: 120px;
    height: auto;
}
.style {
    width: 150px;
    background-color: #E42630;
    border: 0px;
}
.btn:hover {
    background-image: none;
    background-color: #b51212;
}
#myInput {
    background-image: url('/images/zoek_icoon.ico');
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}
